<div>
  <h1>Characters</h1>
  <button (click)="getAllCharacters()" type="button">All Characters</button>
  <ul *ngIf="characters.length != 0">
    <li *ngFor="let character of characters">{{character.name}}
      <ul>
        <li>ID: {{character._id}}</li>
        <li>House: {{character.house}}</li>
        <li>Patronus: {{character.patronus}}</li>
        <li>Species: {{character.species}}</li>
        <li>Blood Status: {{character.bloodStatus}}</li>
        <li>Role: {{character.role}}</li>
        <li>School: {{character.school}}</li>
        <li>Death Eater: {{character.deathEater}}</li>
        <li>Dumbledore's Army: {{character.dumbledoresArmy}}</li>
        <li>Order of the Phoenix: {{character.orderOfThePhoenix}}</li>
        <li>Ministry of Magic: {{character.ministryOfMagic}}</li>
        <li>Alias: {{character.alias}}</li>
        <li>Wand: {{character.wand}}</li>
        <li>Boggart: {{character.boggart}}</li>
        <li>Animagus: {{character.animagus}}</li>
      </ul>
    </li>
  </ul>
</div>