<div>
  <h1>Spells</h1>
  <button (click)="getAllSpells()" type="button">All Spells</button>
  <select #input (change)="getSpells(input.value)">
    <option value="" disabled selected>All spells of type</option>
    <option value="Charm">Charm</option>
    <option value="Curse">Curse</option>
    <option value="Enchantment">Enchantment</option>
    <option value="Hex">Hex</option>
    <option value="Jinx">Jinx</option>
    <option value="Spell">Spell</option>
  </select>
  <ul *ngIf="spells.length != 0">
    <li *ngFor="let spell of spells">{{spell.spell}}
      <ul>
        <li>ID: {{spell._id}}
        <li>Type: {{spell.type}}</li>
        <li>Effect: {{spell.effect}}</li>
      </ul>
    </li>
  </ul>
</div>