<div id="background">
  <div style="text-align:center">
    <h1>HARRYT POTTER MANAGER</h1>
  </div>

  <!-- NAV -->
  <div class="nav">
    <nav>
      <ul>
        <li>
          <a href="#" >HOME</a>
        </li>
        <li>
          <a href="#" >SPELLS</a>
        </li>
        <li>
          <a href="#" >CHARACTERS</a>
        </li>
        <li>
          <a href="#" >HOUSES</a>
        </li>
        <li>
          <a href="#"> FAVOURITES</a>
        </li>
        <li>
          <a href="#">ADD SPELL</a>
        </li>
      </ul>
    </nav>
  </div>
</div>