<div>
  <div class="w3-center">
    <a href="/houses"><button class="w3-button w3-round-large w3-blue w3-hover-green w3-border-black"><fa-icon [icon]="['fas', 'hat-wizard']" [spin]="true" pull="left"></fa-icon>Houses</button></a>
  </div>
  <div class="w3-center">
    <a href="/characters"><button class="w3-button w3-round-large w3-blue w3-hover-green w3-border-black"><fa-icon [icon]="['fas', 'users']" pull="left"></fa-icon>Characters</button></a>
  </div>
  <div class="w3-center">
    <a href="/spells"><button class="w3-button w3-round-large w3-blue w3-hover-green w3-border-black"><fa-icon [icon]="['fas', 'magic']" [pulse]="true" pull="left"></fa-icon>Spells</button></a>
  </div>
</div>