<div>
  <h1>Houses</h1>
  <ul *ngIf="houses.length != 0">
    <li *ngFor="let house of houses">
      <a href="house/{{house._id}}">{{house.name}}</a>
      <button *ngIf="!checkHouse(house._id)" (click)="addHouse(house._id)" type="button">Mark as favourite house</button>
      <button *ngIf="checkHouse(house._id)" (click)="removeHouse(house._id)" type="button">Remove as favourite house</button>
      <ul>
        <li>Mascot: {{house.mascot}}</li>
        <li>Head of House: {{house.headOfHouse}}</li>
        <li>House Ghost: {{house.houseGhost}}</li>
        <li>Founder: {{house.founder}}</li>
        <li>School: {{house.school}}</li><!-- Slytherin does not have a school, API creator probably forgot -->
        <li>Colors:</li>
          <ul>
            <li *ngFor="let color of house.colors">{{color}}</li>
          </ul>
        <li>Values:</li>
          <ul>
            <li *ngFor="let value of house.values">{{value}}</li>
          </ul>
        <li>Members:</li>
          <ul>
            <li *ngFor="let ID of house.members"><a href="/character/{{ID}}">{{characters[ID]}}</a>{{ID}}</li>
          </ul>
      </ul>
    </li>
  </ul>
</div>