<!--
<div>
  <h1>Random Hogwarts House</h1>
  <button (click)="getRandomHogwartsHouse()" type="button">Random Hogwarts House</button>
  <p *ngIf="randomHouse != ''">{{randomHouse}}<p>
  <br>
  <br>
  <h1>Character</h1>
  <input [(ngModel)]="characterID" value="5a12292a0f5ae10021650d7e">
  <button (click)="getCharacter(characterID)">Character</button>
  <ul *ngIf="character.length != 0">
    <li>{{character.name}}
      <ul>
        <li>ID: {{character._id}}</li>
        <li>House: {{character.house}}</li>
        <li>Patronus: {{character.patronus}}</li>
        <li>Species: {{character.species}}</li>
        <li>Blood Status: {{character.bloodStatus}}</li>
        <li>Role: {{character.role}}</li>
        <li>School: {{character.school}}</li>
        <li>Death Eater: {{character.deathEater}}</li>
        <li>Dumbledore's Army: {{character.dumbledoresArmy}}</li>
        <li>Order of the Phoenix: {{character.orderOfThePhoenix}}</li>
        <li>Ministry of Magic: {{character.ministryOfMagic}}</li>
        <li>Alias: {{character.alias}}</li>
        <li>Wand: {{character.wand}}</li>
        <li>Boggart: {{character.boggart}}</li>
        <li>Animagus: {{character.animagus}}</li>
      </ul>
    </li>
  </ul>
  <br>
  <br>
  <h1>Characters</h1>
  <button (click)="getAllCharacters()" type="button">All Characters</button>
  <ul *ngIf="characters.length != 0">
    <li *ngFor="let character of characters">{{character.name}}
      <ul>
        <li>ID: {{character._id}}</li>
        <li>House: {{character.house}}</li>
        <li>Patronus: {{character.patronus}}</li>
        <li>Species: {{character.species}}</li>
        <li>Blood Status: {{character.bloodStatus}}</li>
        <li>Role: {{character.role}}</li>
        <li>School: {{character.school}}</li>
        <li>Death Eater: {{character.deathEater}}</li>
        <li>Dumbledore's Army: {{character.dumbledoresArmy}}</li>
        <li>Order of the Phoenix: {{character.orderOfThePhoenix}}</li>
        <li>Ministry of Magic: {{character.ministryOfMagic}}</li>
        <li>Alias: {{character.alias}}</li>
        <li>Wand: {{character.wand}}</li>
        <li>Boggart: {{character.boggart}}</li>
        <li>Animagus: {{character.animagus}}</li>
      </ul>
    </li>
  </ul>
  <br>
  <br>
  <h1>Houses</h1>
  <button (click)="getAllHouses()" type="button">All Houses</button>
  <ul *ngIf="houses.length != 0">
    <li *ngFor="let house of houses">{{house.name}}
      <ul>
        <li>ID: {{house._id}}</li>
        <li>Mascot: {{house.mascot}}</li>
        <li>Head of House: {{house.headOfHouse}}</li>
        <li>House Ghost: {{house.houseGhost}}</li>
        <li>Founder: {{house.founder}}</li>
        <li>School: {{house.school}}</li>
        <li>Colors:</li>
          <ul>
            <li *ngFor="let color of house.colors">{{color}}</li>
          </ul>
        <li>Values:</li>
          <ul>
            <li *ngFor="let value of house.values">{{value}}</li>
          </ul>
        <li>Members:</li>
          <ul>
            <li *ngFor="let ID of house.members">ID: {{ID}}</li>
          </ul>
      </ul>
    </li>
  </ul>
  <br>
  <br>
  <h1>House</h1>
  <select #input (change)="getHouse(input.value)">
    <option value="5a05e2b252f721a3cf2ea33f">Gryffindor</option>
    <option value="5a05dc8cd45bd0a11bd5e071">Slytherin</option>
    <option value="5a05da69d45bd0a11bd5e06f">Ravenclaw</option>
    <option value="5a05dc58d45bd0a11bd5e070">Hufflepuff</option>
  </select>
  <ul *ngIf="house.length != 0">
    <li *ngFor="let data of house">{{data.name}}
      <ul>
        <li>ID: {{data._id}}</li>
        <li>Mascot: {{data.mascot}}</li>
        <li>Head of House: {{data.headOfHouse}}</li>
        <li>House Ghost: {{data.houseGhost}}</li>
        <li>Founder: {{data.founder}}</li>
        <li>School: {{data.school}}</li>
        <li>Colors:</li>
          <ul>
            <li *ngFor="let color of data.colors">{{color}}</li>
          </ul>
        <li>Values:</li>
          <ul>
            <li *ngFor="let value of data.values">{{value}}</li>
          </ul>
        <li>Members:</li>
          <ul>
            <li *ngFor="let member of data.members">{{member.name}} ({{member._id}})</li>
          </ul>
      </ul>
    </li>
  </ul>
  <br>
  <br>
  <h1>Spells</h1>
  <button (click)="getAllSpells()" type="button">All Spells</button>
  <ul *ngIf="spells.length != 0">
    <li *ngFor="let spell of spells">{{spell.spell}}
      <ul>
        <li>ID: {{spell._id}}
        <li>Type: {{spell.type}}</li>
        <li>Effect: {{spell.effect}}</li>
      </ul>
    </li>
  </ul>
</div>
-->


<div style="text-align:center">
  <h1>HARRYT POTTER MANAGER</h1>
</div>

<!-- NAV -->
<div class="nav">
  <nav>
    <ul>
      <li>
        <a href="#" >HOME</a>
      </li>
      <li>
        <a href="#" >SPELLS</a>
      </li>
      <li>
        <a href="#" >CHARACTERS</a>
      </li>
      <li>
        <a href="#" >HOUSES</a>
      </li>
      <li>
        <a href="#"> FAVOURITES</a>
      </li>
      <li>
        <a href="#">ADD SPELL</a>
      </li>
    </ul>
  </nav>
</div>
<!-- END NAV -->