<div class="navigation-bar">
  <div id="navigation-container">
    <img src="https://cdn.jsdelivr.net/gh/OriolBen/Harry-Potter-API@master/src/app/assets/home/hogwarts%20logo.png">
    <ul>
      <li><a href="#"><fa-icon [icon]="['fas', 'home']" pull="left"></fa-icon>Home</a></li>
      <li><a href="/houses"><fa-icon [icon]="['fas', 'hat-wizard']" [spin]="true" pull="left"></fa-icon>Houses</a></li>
      <li><a href="/characters"><fa-icon [icon]="['fas', 'users']" pull="left"></fa-icon>Characters</a></li>
      <li><a href="/spells"><fa-icon [icon]="['fas', 'magic']" [pulse]="true" pull="left"></fa-icon>Spells</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>