div {
  background-color: black;
  height:125px;
  line-height:125px;
  text-align:center;
  width:100%;
}

img {
  height: 100px;
  vertical-align: middle;
  margin-top: -15px;
}

h1 {
  display: inline;
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
}