<div>
  <h1>House</h1>
  <select #input (change)="getHouse(input.value)">
    <option value="" disabled selected>Select a house</option>
    <option value="5a05e2b252f721a3cf2ea33f">Gryffindor</option>
    <option value="5a05dc8cd45bd0a11bd5e071">Slytherin</option>
    <option value="5a05da69d45bd0a11bd5e06f">Ravenclaw</option>
    <option value="5a05dc58d45bd0a11bd5e070">Hufflepuff</option>
  </select>
  <ul *ngIf="house.length != 0">
    <li *ngFor="let data of house">{{data.name}}
      <ul>
        <li>Mascot: {{data.mascot}}</li>
        <li>Head of House: {{data.headOfHouse}}</li>
        <li>House Ghost: {{data.houseGhost}}</li>
        <li>Founder: {{data.founder}}</li>
        <li>School: {{data.school}}</li>
        <li>Colors:</li>
          <ul>
            <li *ngFor="let color of data.colors">{{color}}</li>
          </ul>
        <li>Values:</li>
          <ul>
            <li *ngFor="let value of data.values">{{value}}</li>
          </ul>
        <li>Members:</li>
          <ul>
            <li *ngFor="let member of data.members">{{member.name}} ({{member._id}})</li>
          </ul>
      </ul>
    </li>
  </ul>
</div>